{% extends "base.html.twig" %}


    {% block body %}
        {<div id="body">
        {{ form_start(form) }}
        {{ form_row(form.id_user) }}
        {{ form_row(form.email) }}
        {{ form_row(form.password) }}
        {{ form_row(form.name) }}
        {{ form_row(form.firstname) }}
        {{ form_row(form.adress) }}
        {{ form_row(form.name) }}
        <button type="submit">Envoyer!</button>
        {{ form_end(form) }}
    </div>
    {% endblock %}