{% extends "base.html.twig" %}


    {% block body %}
        {{ form_start(form) }}
        {{ form_row(form.id_ticket) }}
        <button type="submit">Envoyer!</button>
    {% endblock %}

            {% block bod %}
        <li class="list-inline-item">
        {% for tag in form %}
            <h1>Id : {{ tag.getId}}</h1>
            <h1>Id ticket: {{ tag.getIdTicket}}</h1>
            <h1>Id utilisateur: {{ tag.getIdUser }}</h1>
            <li>Vérifié ou non {{ tag.getChecked }}</li>
            <li>Validé ou non {{ tag.getValidated  }}</li>
            <li>Date de validation {{ tag.getDateValid |date('Y-m-d')}}</li>
            <li>Justification de refus{{ tag.getTextInvalid }}</li>
            <li>Travaux prévus {{ tag.getDone }}</li>
            <li>Date de vérification {{ tag.getDateChecked |date('Y-m-d') }}</li>
            <li>Prix de le préstation{{ tag.getPriceValid }}</li>
            <br>
            <br>
            <br>
        {% endfor %}
        </li>
    {% endblock %}